.returnButton {
  block-size: 4rem;
  inline-size: 4rem;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  inset-inline-start: 1rem;
  inset-block-start: 1rem;
}
.returnButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.returnButton svg {
  padding: 10%;
  block-size: 4rem;
  inline-size: 4rem;
}

.mainHeader {
  block-size: 4rem;
  border-block-end: solid 0.063rem #7D7D7D;
  display: flex;
  background-color: #141719;
}
.mainHeader .iconButton {
  block-size: 4rem;
  inline-size: 4rem;
  background-color: transparent;
  border-radius: 50%;
  border-radius: 0;
}
.mainHeader .iconButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.mainHeader .iconButton svg {
  padding: 10%;
  block-size: 4rem;
  inline-size: 4rem;
}
.mainHeader nav {
  display: none;
}
.mainHeader .MuiButton-root {
  margin-inline-start: auto;
  height: 4rem;
}
.mainHeader .MuiButton-root .MuiSvgIcon-root {
  font-size: 2.5rem;
}
@media (min-Width: 34rem) {
  .mainHeader nav {
    display: flex;
    background-color: #141719;
  }
  .mainHeader nav button {
    padding-inline: 1rem;
    font-size: 1.5rem;
    background-color: #141719;
    color: #E0E0E0;
  }
  .mainHeader nav button:hover {
    background-color: #2b3035;
  }
  .mainHeader nav button:focus {
    z-index: 1;
  }
  .mainHeader nav button.selected {
    color: #e07306;
  }
  .mainHeader .MuiSvgIcon-root {
    display: none;
  }
}

.ExpandBars {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.ExpandBars .ExpandBar .bar {
  background-color: #1d2124;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  transition: border-radius 150ms;
}
.ExpandBars .ExpandBar .bar p {
  width: 50%;
  padding: 0.5rem;
}
.ExpandBars .ExpandBar .bar svg {
  height: 3rem;
  width: 3rem;
  padding: 0.75rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 150ms;
}
.ExpandBars .ExpandBar .content {
  background-color: #292e32;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  height: 0;
  transition: 300ms;
}
.ExpandBars .ExpandBar .content p {
  display: none;
}
.ExpandBars .ExpandBar.expanded .bar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ExpandBars .ExpandBar.expanded .bar svg {
  transform: rotate(180deg);
}
.ExpandBars .ExpandBar.expanded .content {
  padding: 0.5rem;
  height: auto;
}
.ExpandBars .ExpandBar.expanded .content p {
  display: block;
}

dialog {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100vw;
  block-size: 100vh;
  background-color: transparent;
}
dialog .background {
  inline-size: 100%;
  block-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
dialog .container {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  inline-size: 40rem;
  block-size: 30rem;
  background-color: #E3E3E3;
  border-radius: 0.5rem;
  border: none;
}
dialog .container header {
  inline-size: 100%;
  block-size: 3rem;
  background-color: teal;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
dialog .container header[draggable=true] {
  cursor: grab;
}
dialog .container header h1 {
  position: absolute;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #E0E0E0;
  line-height: 3rem;
  font-size: 1.75rem;
}
dialog .container header .iconButton {
  block-size: 3rem;
  inline-size: 3rem;
  background-color: transparent;
  border-radius: 50%;
  float: right;
}
dialog .container header .iconButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
dialog .container header .iconButton svg {
  padding: 10%;
  block-size: 3rem;
  inline-size: 3rem;
}
dialog .container .content {
  block-size: 100%;
  padding: 0.5rem;
}
dialog .container .actions {
  padding: 0.75rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
dialog .container .actions button {
  min-width: 6rem;
  font-size: 1rem;
  font-weight: bold;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border-radius: 5rem;
  background-color: teal;
  color: #E0E0E0;
}

.Menu {
  padding: 2rem;
}
.Menu h1 {
  padding-bottom: 1rem;
  margin-inline: auto;
  inline-size: fit-content;
  color: #e07306;
  font-size: 3rem;
}
.Menu .container {
  box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  width: fit-content;
  background-color: #191c1e;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.Menu .container a {
  box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  padding-block: 0.75rem;
  padding-inline: 1rem;
  background-color: #17191c;
  color: #e07306;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #1b1e21;
  width: fit-content;
}
.Menu .container a:hover {
  background-color: #1b1e21;
  cursor: pointer;
}

.Notepad .notFound {
  text-align: center;
  color: #e07306;
}
.Notepad .notFound h1 {
  padding: 2rem;
  font-size: 4rem;
}
.Notepad .notFound p {
  font-size: 2rem;
}
.Notepad .git {
  display: flex;
}
.Notepad .git nav {
  display: flex;
  flex-flow: column;
  inline-size: 8rem;
  block-size: calc(100vh - 4rem);
  background-color: #141719;
}
.Notepad .git nav button {
  block-size: 5rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #141719;
  color: #E0E0E0;
}
.Notepad .git nav button:hover {
  background-color: #2b3035;
}
.Notepad .git nav button:focus {
  z-index: 1;
}
.Notepad .git nav button.selected {
  color: #e07306;
}
.Notepad .git main {
  inline-size: 100%;
  padding: 2rem;
}
.Notepad .git main h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #e07306;
  margin-block-end: 2rem;
}
.Notepad .git main section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Notepad .git main section .MuiAccordionSummary-root {
  font-size: 1.5rem;
}
.Notepad .git main section .MuiAccordionSummary-root .MuiAccordionSummary-content p {
  width: 50%;
}

.RemConverter {
  inline-size: clamp(13rem, 80vW, 35rem);
  margin: 0 auto;
  text-align: center;
  color: #e07306;
}
.RemConverter h1 {
  padding-block: 3rem;
}
.RemConverter .container .convertIcon {
  display: none;
}
.RemConverter .container .converter {
  box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  inline-size: clamp(10rem, 100%, 15rem);
  position: relative;
  margin: 0 auto;
  display: flex;
  margin-block-end: 1.5rem;
}
.RemConverter .container .converter input {
  inline-size: 100%;
  block-size: 3rem;
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.25rem;
  color: #E0E0E0;
  background-color: #17191c;
  border: none;
  outline: none;
}
.RemConverter .container .converter .inputType {
  font-size: 1rem;
  color: #E0E0E0;
  line-height: 3rem;
  position: absolute;
  inset-inline-end: 1rem;
  pointer-events: none;
}
@media (min-width: 48rem) {
  .RemConverter .container {
    display: flex;
    gap: 1rem;
  }
  .RemConverter .container .convertIcon {
    display: block;
    line-height: 3rem;
    font-size: 1.5rem;
    user-select: none;
  }
}

.Sandbox {
  color: #E0E0E0;
  overflow: auto;
  min-height: 100vh;
  padding: 1rem;
}
.Sandbox button {
  box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  padding-block: 0.75rem;
  padding-inline: 1rem;
  background-color: #17191c;
  color: #e07306;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Sandbox button:hover {
  background-color: #1b1e21;
  cursor: pointer;
}
.Sandbox h1 {
  text-align: center;
  font-size: 3rem;
  color: #e07306;
  padding-bottom: 1.5rem;
}
.Sandbox .counterContainer {
  box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  background-color: #141719;
  margin-inline: auto;
  border-radius: 3rem;
  justify-content: space-between;
  width: 21rem;
  height: 5rem;
  align-items: center;
  position: relative;
  display: flex;
  padding-left: 2rem;
}
.Sandbox .counterContainer .counterText {
  font-size: 1.5rem;
  font-weight: bold;
}
.Sandbox .counterContainer button {
  margin-inline-end: 1.25rem;
  width: 7rem;
  border-radius: 25rem;
}
.Sandbox .testArea {
  box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  background-color: #141719;
  margin-inline: auto;
  min-width: fit-content;
  max-width: 40rem;
  min-height: 30rem;
  height: max-content;
  border-radius: 0.6rem;
  margin-top: 3rem;
  padding: 1.25rem;
  display: flex;
  flex-flow: column;
}
.Sandbox .testArea h2 {
  text-align: center;
  padding-block-end: 1.25rem;
  font-size: 2rem;
  color: #e07306;
}
.Sandbox .testArea .testButtonsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}
.Sandbox .testArea .outputContainer {
  padding-block: 2rem;
  text-align: center;
  flex: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121416;
  color: #E0E0E0;
}

a {
  all: unset;
}

button {
  border: none;
  cursor: pointer;
}
