@mixin defaultButton {
	@include shadow;
	padding-block: .75rem;
	padding-inline: 1rem;
	background-color: $colorButton;
	color: $colorPrimary;
	font-size: 1.25rem;
	font-weight: bold;
	border-radius: 0.25rem;
  border: none;
  cursor: pointer;
	transition: all .2s ease-in-out;
	
	&:hover {
		// filter: brightness(1.2);
		background-color: lighten($colorButton, 2%);
		// background-color: darken($colorButton, 2%);
	}
}

@mixin iconButton($size: 1.5rem) {
	block-size: $size;
	inline-size: $size;
	background-color: transparent;
	border-radius: 50%;
	
	svg {
		padding: 10%;
		block-size: $size;
		inline-size: $size;
		border-radius: 50%;
		&:hover { background-color: rgba(255, 255, 255, 0.1); }
	}
}

@mixin navbarVertical($backgroundColor: $black1) {
	display: flex;
	background-color: $backgroundColor;
	
	button {
		padding-inline: 1rem;
		font-size: 1.5rem;
		background-color: $backgroundColor;
		color: $colorText;
		&:hover { background-color: lighten($backgroundColor, 10%); }
		&:focus { z-index: 1; }
	}
	
	button.selected { color: $colorPrimary; }
}

@mixin navbarHorizontal($backgroundColor: $black1) {
	display: flex;
	flex-flow: column;
	inline-size: 8rem;
	block-size: calc(100vh - 4rem);
	background-color: $backgroundColor;
	
	button {
		block-size: 5rem;
		font-size: 1.25rem;
		background-color: $backgroundColor;
		color: $colorText;
		&:hover { background-color: lighten($backgroundColor, 10%); }
		&:focus { z-index: 1; }
	}
	
	button.selected { color: $colorPrimary; }
}
