@mixin defaultButton {
	@include shadow;
	padding-block: .75rem;
	padding-inline: 1rem;
	background-color: $colorButton;
	color: $colorPrimary;
	
	font-size: 1.25rem;
	font-weight: bold;
  border: none;
	border-radius: 0.25rem;
  cursor: pointer;
	transition: all .2s ease-in-out;
	
	&:hover {
		// filter: brightness(1.2);
		background-color: lighten($colorButton, 2%);
		// background-color: darken($colorButton, 2%);
	}
}

@mixin verticalNavbar($backgroundColor: $black1) {
	display: flex;
	background-color: $backgroundColor;
	
	button {
		padding-inline: 1rem;
		font-size: 1.5rem;
		background-color: $backgroundColor;
		color: $colorText;
		border: none;
		&:hover { color: lighten($colorPrimary, 20%); }
	}
	
	button.selected { color: $colorPrimary; }
}

@mixin horizontalNavbar($backgroundColor: $black1) {
	display: flex;
	flex-flow: column;
	inline-size: 8rem;
	block-size: calc(100vh - 4rem);
	background-color: $backgroundColor;
	
	button {
		block-size: 5rem;
		font-size: 1.25rem;
		background-color: $backgroundColor;
		color: $colorText;
		border: none;
		&:hover { color: lighten($colorPrimary, 20%); }
	}
	
	button.selected { color: $colorPrimary; }
}
