.Notepad {
	.notFound {
		text-align: center;
		color: $colorPrimary;

		h1 {
			padding: 2rem;
			font-size: 4rem;
		}

		p { font-size: 2rem; }
	}

	.git {
		display: flex;
		nav { @include navbarHorizontal(); }

		main {
			inline-size: 100%;
			padding: 2rem;

			h1 {
				font-size: 2.5rem;
				text-align: center;
				color: $colorPrimary;
				margin-block-end: 2rem;
			}

			section {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				.MuiAccordionSummary-root {
					font-size: 1.5rem;

					.MuiAccordionSummary-content {
						p { width: 50%; }
					}
				}
			}
		}
	}
}
