.RemConverter {
	inline-size: clamp(13rem, 80vW, 35rem);
	margin: 0 auto;
	text-align: center;
	color: $colorPrimary;

	h1 { padding-block: 3rem; }

	.container {
		.convertIcon { display: none; }

		.converter {
			@include shadow;
			inline-size: clamp(10rem, 100%, 15rem);
			position: relative;
			margin: 0 auto;
			display: flex;
			margin-block-end: 1.5rem;

			input {
				inline-size: 100%;
				block-size: 3rem;
				font-size: 1.75rem;
				text-align: center;
				font-weight: bold;
				border-radius: .25rem;
				color: $colorText;
				background-color: $black2;
				border: none;
				outline: none;
			}

			.inputType {
				font-size: 1rem;
				color: $colorText;
				line-height: 3rem;
				position: absolute;
				inset-inline-end: 1rem;
				pointer-events: none;
			}
		}
	}

	@media (min-width: 48rem) {
		.container {
			display: flex;
			gap: 1rem;

			.convertIcon {
				display: block;
				line-height: 3rem;
				font-size: 1.5rem;
				user-select: none;
			}
		}
	}
}
