@mixin circle($size) {
	background-color: lightblue;
	width: $size;
	height: $size;
	border-radius: 50%;
	// clip-path: circle();
	// clip-path: circle(50% at 0%); // half circle
}

@mixin triangle($size) {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 80px solid lightblue;
}

.circle { @include circle(3rem) }
