.Header {
	header {
		width: 100%;
		background-color: $colorHeader;
		border-bottom: solid .063rem hsl(200, 4%, 44%);
		
		nav {
			display: flex;
			justify-content: space-between;
			
			ul {
				width: 100%;
			
				li {
					float: left;
				
					button {
						height: 3rem;
						padding: 0 2.5rem;
						font-size: 1.25rem;
						text-transform: uppercase;
						background-color: $colorHeader;
						border-radius: 0;
					}
				}
			
				li:last-child {
					float: right;
					
					button {
						color: $colorRed;
					}
				}
			}
		}
	}
}
