#MenuPage {
	header {
		inline-size: 100%;
		background-color: $colorHeader;
		border-block-end: solid .063rem hsl(200, 4%, 44%);
		display: inline-flex;
		
		img {
			inline-size: 3rem;
			block-size: 3rem;
			padding: .6rem;
			margin-inline: .5rem;
		}
		
		nav {
			display: flex;
			justify-content: space-between;
			inline-size: 100%;
			
			ul {
				inline-size: 100%;
			
				li {
					// float: inline-start;
					float: left;
				
					button {
						block-size: 3rem;
						padding-inline: 2.5rem;
						font-size: 1.5rem;
						background-color: $colorHeader;
						border-radius: 0;
					}
				}
			
				li:last-child {
					// float: inline-end;
					float: right;
					
					button {
						color: $colorPrimary;
					}
				}
			}
		}
	}
}

#RemConverterPage {
	inline-size: clamp(13rem, 80vW, 45rem);
	margin: auto;
	text-align: center;
	
	h1 {
		margin-block-start: 3rem;
		margin-block-end: 2rem;
	}
	
	.converters {
		display: flex;
		justify-content: space-between;
		position: relative;
	
		.converter {
			inline-size: clamp(8rem, 80%, 20rem);
			position: relative;
			
			label {
				font-size: 1.5rem;
			}
			
			input {
				inline-size: 100%;
				font-size: 2rem;
				text-align: center;
				font-weight: 600;
				border-radius: .25rem;
			}
			
			.inputType {
				position: absolute;
				inset-block-end: 1.25rem;
				inset-inline-end: 1rem;
				font-size: 1rem;
				color: #333;
			}
		}
	}
		
	.convertIcon {
		font-size: 1.5rem;
		padding: 1rem;
		padding-block-start: 2.75rem;
	}
	
	// @media (max-inline-size: $sm) {
	@media (max-width: $sm) {
		.converters {
			display: block;
			
			.converter {
				margin: auto;
			}
		}
		
		.convertIcon {
			display: none;
		}
	}
}