$xxs: 20rem; 	// 320px 	Small mobile devices
$xs: 30rem; 	// 480px 	Mobile devices
$sm: 48rem; 	// 768px 	iPads, Tablets
$md: 64rem; 	// 1024px Small screens, laptops
$lg: 75rem; 	// 1200px Desktops, large screens
$xl: 100rem; 	// 1600px Extra large screens, TV

$colorPrimary: hsl(192, 100%, 46%);
// $colorSecondary: hsl(32, 100%, 46%);
$colorText: #eee;
$colorBackground: hsl(200, 4%, 10%);
$colorHeader: hsl(200, 4%, 14%);
$colorButton: hsl(188, 100%, 35%);

$colorRed: hsl(0, 100%, 30%);
$colorOrange: hsl(32, 100%, 50%);
$colorGreen: hsl(120, 100%, 30%);
// $colorLightBlue: hsl(200, 100%, 30%);
// $colorBlue: hsl(240, 100%, 30%);
// $colorPurple: hsl(270, 100%, 30%);
// $colorPink: hsl(300, 100%, 30%);

:root {
	--orange: #000000;
	--colorSecondary: hsl(32, 100%, 46%);
}