$blue: #00BEDA;
$darkBlue: #0592BD;
$black: #333333;
$lightBlue: #E5F8FB;
$lightGray: #F4F4F4;
$gray: #7E7E7E;
$green: #70BE60;
$yellow: #FCD200;
$red: #E43B5A;

$xs: 320px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
