@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
.Header header {
  width: 100%;
  background-color: #222425;
  border-bottom: solid 0.063rem #6c7275;
}

.Header header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header header nav ul {
  width: 100%;
}

.Header header nav ul li {
  float: left;
}

.Header header nav ul li button {
  height: 3rem;
  padding: 0 2.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #222425;
  border-radius: 0;
}

.Header header nav ul li:last-child {
  float: right;
}

.Header header nav ul li:last-child button {
  color: #990024;
}

.myExtenderClass {
  background: pink;
}

#Sandbox {
  background: black;
  color: #eee;
  height: 100vh;
  overflow: auto;
}

#Sandbox header {
  color: #b60e0e;
}

#Sandbox button {
  border-radius: 25rem;
  font-size: 1.25rem;
  font-weight: bold;
  background: #0d1f6e;
  color: #eee;
  border: solid 0.125rem #eee;
  text-transform: none;
  padding: 0;
}

#Sandbox button:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

#Sandbox header {
  padding: 1.25rem;
}

#Sandbox header .title {
  text-align: center;
  font-size: 3rem;
}

#Sandbox .printSection {
  background: #144b03;
  margin: 0 auto;
  border-radius: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21rem;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

#Sandbox .printSection button {
  position: absolute;
  right: 1.25rem;
  width: 10rem;
  height: 3rem;
}

#Sandbox .testArea {
  margin: 0 auto;
  width: 40rem;
  height: 30rem;
  border-radius: .6rem;
  margin-top: 3rem;
  border: solid 0.3rem #701919;
}

#Sandbox .testArea h2 {
  text-align: center;
  padding: 1.25rem;
  background: #046475;
  border-bottom: solid 0.3rem #701919;
  background-color: #0d1f6e;
}

#Sandbox .testArea .testButtonsContainer {
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[3];
      grid-template-columns: repeat(3, 10rem);
  grid-auto-rows: 3rem;
  gap: 1.25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #181a1b;
  color: #eee;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: .3rem 1rem;
  background-color: #006699;
  color: #eee;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}
/*# sourceMappingURL=main.css.map */