@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import "./variables";
@import "./components";

@import "./sandbox";

* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-family: "Titillium Web", sans-serif;
}

body {
	background-color: $colorBackground;
  color: $colorText;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	padding: .3rem 1rem;
	background-color: $colorPrimary;
	color: $colorText;
	font-size: 1.25rem;
	font-weight: bold;
  border: none;
	border-radius: 0.25rem;
  cursor: pointer;
	
	&:hover {
		// background-color: filter: brightness(130%);
		filter: brightness(130%);
	}
}