@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Titillium+Web:wght@400;600;700;900&display=swap");
:root {
  --colorPrimary: hsl(192, 100%, 46%);
  --colorSecondary: hsl(32, 100%, 46%);
}

.Menu header {
  inline-size: 100vw;
  block-size: 3rem;
  background-color: #222425;
  -webkit-border-after: solid 0.063rem #6c7275;
          border-block-end: solid 0.063rem #6c7275;
}

.Menu header img {
  inline-size: 3rem;
  block-size: 3rem;
  padding: .6rem;
  margin-inline: .5rem;
  float: left;
}

.Menu header nav {
  display: none;
}

.Menu header .menuIcon {
  float: right;
}

@media (min-Width: 48rem) {
  .Menu header nav {
    display: block;
    float: left;
  }
  .Menu header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Menu header nav ul li button {
    block-size: 100%;
    padding-inline: 1rem;
    font-size: 1.5rem;
    background-color: #222425;
    border-radius: 0;
  }
}

.RemConverter {
  inline-size: clamp(13rem, 80vW, 45rem);
  margin: auto;
  text-align: center;
}

.RemConverter h1 {
  padding-block: 3rem;
  color: #eb7d00;
}

.RemConverter .converters {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  block-size: 100%;
}

.RemConverter .converters .converter {
  inline-size: clamp(8rem, 80%, 20rem);
  position: relative;
  margin: auto;
}

.RemConverter .converters .converter label {
  font-size: 1.5rem;
}

.RemConverter .converters .converter input {
  inline-size: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  border-radius: .25rem;
}

.RemConverter .converters .converter .inputType {
  position: absolute;
  inset-block-end: .75rem;
  inset-inline-end: 1rem;
  font-size: 1rem;
  color: #333;
}

.RemConverter .convertIcon {
  display: none;
}

@media (min-width: 48rem) {
  .RemConverter .converters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .RemConverter .convertIcon {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    -webkit-padding-before: 2.75rem;
            padding-block-start: 2.75rem;
  }
}

.myExtenderClass {
  background-color: pink;
}

#Sandbox {
  color: #eee;
  height: 100vh;
  overflow: auto;
}

#Sandbox header {
  color: #00bceb;
}

#Sandbox header {
  padding: 1.25rem;
}

#Sandbox header .title {
  text-align: center;
  font-size: 3rem;
}

#Sandbox .printSection {
  margin: 0 auto;
  border-radius: 3rem;
  border: solid 0.3rem #990000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21rem;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

#Sandbox .printSection button {
  position: absolute;
  right: 1.25rem;
  width: 7rem;
  height: 3rem;
  border-radius: 25rem;
}

#Sandbox .testArea {
  margin: 0 auto;
  width: 40rem;
  height: 30rem;
  border-radius: .6rem;
  margin-top: 3rem;
  border: solid 0.3rem #990000;
}

#Sandbox .testArea h2 {
  text-align: center;
  padding: .25rem;
  border-bottom: solid 0.3rem #990000;
  font-size: 2rem;
}

#Sandbox .testArea .testButtonsContainer {
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[3];
      grid-template-columns: repeat(3, 10rem);
  grid-auto-rows: 3rem;
  gap: 1.25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #181a1b;
  color: #eee;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding-block: .3rem;
  padding-inline: 1rem;
  background-color: #009bb3;
  color: #eee;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
/*# sourceMappingURL=main.css.map */