.Main {
	header {
		block-size: 4rem;
		border-block-end: solid .063rem $gray;
		
		img {
			max-inline-size: 4rem;
			max-block-size: 100%;
			padding: 1rem;
			padding-inline: 1rem;
			float: left;
			background-color: $colorHeader;
			&:hover { filter: brightness(1.2); }
		}
		
		nav { display: none; }
		.menuIcon { float: right; }
		
		@media (min-Width: $xs) {
			nav {
				display: block;
				block-size: 100%;
			
				ul {
					display: flex;
					block-size: 100%;
				
					li {
						button {
							block-size: 100%;
							font-size: 1.5rem;
							background-color: $colorHeader;
							border-radius: 0;
							box-shadow: none;
							color: $colorText;
							color: #fff;
							&:hover { filter: brightness(1.2); }
						}
					}
				}
			}
		
			.menuIcon { display: none; }
		}
	}

	.RemConverter {
		inline-size: clamp(13rem, 80vW, 35rem);
		margin: 0 auto;
		text-align: center;
		color: $colorPrimary;
		
		h1 { padding-block: 3rem; }
		
		.container {
			.convertIcon { display: none; }
			
			.converter {
				@include shadow;
				inline-size: clamp(10rem, 100%, 15rem);
				position: relative;
				margin: 0 auto;
				display: flex;
				margin-block-end: 1.5rem;
				
				input {
					inline-size: 100%;
					block-size: 3rem;
					font-size: 1.75rem;
					text-align: center;
					font-weight: bold;
					border-radius: .25rem;
					color: $colorText;
					background-color: $black2;
					border: none;
					outline: none;
				}
				
				.inputType {
					font-size: 1rem;
					color: $colorText;
					line-height: 3rem;
					position: absolute;
					inset-inline-end: 1rem;
					pointer-events: none; 
				}
			}
		}
		
		// @media (min-inline-size: $sm) {
		@media (min-width: $sm) {
			.container {
				display: flex;
				gap: 1rem;
			
				.convertIcon {
					display: block;
					line-height: 3rem;
					font-size: 1.5rem;
					user-select: none;
				}
			}
		}
	}
}