.Menu {
	align-items: center;
	height: 100vh;
	
	h1 {
		padding-block: 2rem 1rem;
		margin-inline: auto;
		inline-size: fit-content;
		color: $colorPrimary;
		font-size: 3rem;
	}
	
	.container {
		@include shadow;
		inline-size: clamp(30rem, 90vw, 40rem);
		
		margin-inline: auto;
		background-color: $black1;
		padding-block: 2rem;
		border-radius: .5rem;
		
		display: flex;
		justify-content: space-evenly;

		a {
			@include defaultButton;
			block-size: 3.5rem;
			line-height: 3.5rem;
			padding-block: 0;
		}
	}
}
