.Menu {
	align-items: center;
	height: 100vh;
	
	h1 {
		padding-block: 2rem 1rem;
		margin-inline: auto;
		inline-size: fit-content;
		color: $colorPrimary;
		font-size: 3rem;
	}
	
	.container {
		@include shadow;
		inline-size: clamp(25rem, 90vw, 40rem);
		margin-inline: auto;
		display: flex;
		justify-content: space-evenly;
		background-color: $black1;
		padding: 2rem;
		border-radius: .5rem;
	}
}