.Sandbox {
  color: $colorText;
  overflow: auto;
	min-height: 100vh;
    
	h1 {
		text-align: center;
		font-size: 3rem;
		color: $colorPrimary;
    padding: 1.25rem;
	}
	
	.returnButton {
		position: absolute;
		inset-block-start: 1rem;
		inset-inline-start: 1rem;
		border-radius: 2rem;
		
		block-size: 3.5rem;
		inline-size: 5rem;
		padding: .5rem 1rem;
	}
  
  .counterContainer {
		@include shadow;
    background-color: $black1;
    margin-inline: auto;
    border-radius: 3rem;
    justify-content: space-between;
    width: 21rem;
    height: 5rem;
    align-items: center;
    position: relative;
    display: flex;
    padding-left: 2rem;
		
		.counterText {
			font-size: 1.5rem;
			font-weight: bold;
		}
  
    button {
      margin-inline-end: 1.25rem;
      width: 7rem;
			border-radius: 25rem;
    }
  }
  
  .testArea {
		@include shadow;
    background-color: $black1;
    margin-inline: auto;
    width: 40rem;
    min-height: 30rem;
    height: max-content;
    border-radius: .6rem;
    margin-top: 3rem;
		padding: 1.25rem;
		display: flex;
		flex-flow: column;
    
    h2 {
      text-align: center;
      padding-block-end: 1.25rem;
			font-size: 2rem;
    }
    
    .testButtonsContainer {
			display: flex;
			gap: 1.25rem;
      justify-content: space-evenly;
			
			button {
				inline-size: 100%;
			}
    }
		
		.outputContainer {
			padding-block: 2rem;
			text-align: center;
			flex: 1;
		}
  }
}