// $xxs: 20rem; 	// 320px 	Small mobile devices
// $xs: 30rem; 		// 480px 	Mobile devices
// $sm: 48rem; 		// 768px 	iPads, Tablets
// $md: 64rem; 		// 1024px Small screens, laptops
// $lg: 75rem; 		// 1200px Desktops, large screens
// $xl: 100rem; 	// 1600px Extra large screens, TV

$colorBackground: #121416;
$gray: #7D7D7D; // disabled color

$colorPrimary: #e07306;
$colorSecondary: #00c3ff;
$colorText: #E0E0E0;
$colorButton: lighten($colorBackground, 2%);
$colorHeader: lighten($colorBackground, 1%);
