@import "./mixins";

.Menu {
	// padding-block-start: 2rem;
	align-items: center;
	
	h1 {
		margin-block: 2rem 1rem;
		margin-inline: auto;
		inline-size: fit-content;
		color: $colorPrimary;
		font-size: 3rem;
	}
	
	.container {
		@include shadow;
		inline-size: clamp(25rem, 90vw, 40rem);
		margin-inline: auto;
		display: flex;
		justify-content: space-evenly;
		background-color: $gray900;
		padding: 2rem;
		border-radius: .5rem;
	}
	
	button {
		@include shadow;
		padding-block: 1rem;
		padding-inline: 1rem;
		background-color: $gray800;
		color: $colorPrimary;
	}
}