@import "./mixins";

.myExtenderClass {
  background-color: pink
}

@function sum($num1, $num2) {
  @return $num1 + $num2;
}

@mixin setBackgroundColor($background) {
  background-color: $background;
}

@mixin isDarkMode($isDarkMode: true) {
  @if ($isDarkMode) {
    background-color: black;
  } @else {
    background-color: white;
  }
}

@mixin resetCss {
  all: initial;
}

// body {
//   @extend .myExtenderClass;
//   font-size: sum(1rem, 2rem);
//   @include setBackground(red);
//   @include isDarkMode(false);
// }

.Sandbox {
  color: $colorText;
  height: 100vh;
  overflow: auto;
  
  header {
    color: $colorPrimary;
  }
  
  header {
    padding: 1.25rem;
    
    .title {
      text-align: center;
      font-size: 3rem;
    }
  }
  
  .printSection {
		@include shadow;
    background-color: $gray900;
    margin-inline: auto;
    border-radius: 3rem;
    justify-content: space-between;
    width: 21rem;
    height: 5rem;
    align-items: center;
    position: relative;
    display: flex;
    padding-left: 2rem;
  
    button {
      margin-inline-end: 1.25rem;
      width: 7rem;
      height: 3rem;
			border-radius: 25rem;
    }
  }
  
  .testArea {
		@include shadow;
    background-color: $gray900;
    margin-inline: auto;
    width: 40rem;
    height: 30rem;
    border-radius: .6rem;
    margin-top: 3rem;
    
    h2 {
      text-align: center;
      padding: .25rem;
			font-size: 2rem;
    }
    
    .testButtonsContainer {
      padding: 1.25rem;
      display: grid;
      grid-template-columns: repeat(3, 10rem);
      grid-auto-rows: 3rem;
      grid-gap: 1.25rem;
      justify-content: space-evenly;
    }
  }
}