$xxs: 20rem; 	// 320px 	Small mobile devices
$xs: 30rem; 	// 480px 	Mobile devices
$sm: 48rem; 	// 768px 	iPads, Tablets
$md: 64rem; 	// 1024px Small screens, laptops
$lg: 75rem; 	// 1200px Desktops, large screens
$xl: 100rem; 	// 1600px Extra large screens, TV

$colorPrimary: #FF6D00;
$solorSecondary: #18FFFF;


$colorPrimary: #ff8c02;

// $colorHeader: #212121;
// $colorButton: hsl(188, 100%, 35%);
// $colorButton: #FF6D00;

$colorRed: #f90c00;

$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;

// $gray900: #2E2E2E;
// $gray900: #1F1F1F;
// $gray900: #383838;

$colorBackground: #121212;
$colorText: $gray50;

:root {
	--colorPrimary: #FF6D00;
	--solorSecondary: #18FFFF;
}