@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --colorPrimary: #FF6D00;
  --solorSecondary: #18FFFF;
}

.Menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu h1 {
  margin-block: 2rem 1rem;
  margin-inline: auto;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  color: #ff8c02;
  font-size: 3rem;
}

.Menu .container {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  inline-size: clamp(25rem, 90vw, 40rem);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #212121;
  padding: 2rem;
  border-radius: .5rem;
}

.Menu button {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  padding-block: 1rem;
  padding-inline: 1rem;
  background-color: #292929;
  color: #ff8c02;
}

.Random header {
  inline-size: 100vw;
  block-size: 3rem;
  background-color: #212121;
  -webkit-border-after: solid 0.063rem #757575;
          border-block-end: solid 0.063rem #757575;
}

.Random header img {
  inline-size: 3rem;
  block-size: 3rem;
  padding: .6rem;
  padding-inline: .5rem;
  float: left;
}

.Random header nav {
  display: none;
}

.Random header .menuIcon {
  float: right;
}

@media (min-Width: 30rem) {
  .Random header nav {
    display: block;
    block-size: 100%;
  }
  .Random header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    block-size: 100%;
  }
  .Random header nav ul li button {
    block-size: 100%;
    padding-inline: 1rem;
    font-size: 1.5rem;
    background-color: #212121;
    border-radius: 0;
  }
  .Random header .menuIcon {
    display: none;
  }
}

.RemConverter {
  inline-size: clamp(13rem, 80vW, 45rem);
  margin: 0 auto;
  text-align: center;
}

.RemConverter h1 {
  padding-block: 3rem;
}

.RemConverter .converters {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  block-size: 100%;
}

.RemConverter .converters .converter {
  display: block;
  inline-size: clamp(8rem, 80%, 20rem);
  position: relative;
  margin: 0 auto;
}

.RemConverter .converters .converter label {
  font-size: 1.5rem;
  color: #EEEEEE;
}

.RemConverter .converters .converter input {
  inline-size: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  border-radius: .25rem;
}

.RemConverter .converters .converter .inputType {
  position: absolute;
  inset-block-end: .55rem;
  inset-inline-end: 1rem;
  font-size: 1rem;
  color: #121212;
}

.RemConverter .convertIcon {
  display: none;
}

@media (min-width: 48rem) {
  .RemConverter .converters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .RemConverter .converters .converter .inputType {
    inset-block-end: 1.1rem;
  }
  .RemConverter .convertIcon {
    display: block;
    font-size: 1.5rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    -webkit-padding-before: 2rem;
            padding-block-start: 2rem;
  }
}

.myExtenderClass {
  background-color: pink;
}

.Sandbox {
  color: #FAFAFA;
  height: 100vh;
  overflow: auto;
}

.Sandbox header {
  color: #ff8c02;
}

.Sandbox header {
  padding: 1.25rem;
}

.Sandbox header .title {
  text-align: center;
  font-size: 3rem;
}

.Sandbox .printSection {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  background-color: #212121;
  margin-inline: auto;
  border-radius: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21rem;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.Sandbox .printSection button {
  -webkit-margin-end: 1.25rem;
          margin-inline-end: 1.25rem;
  width: 7rem;
  height: 3rem;
  border-radius: 25rem;
}

.Sandbox .testArea {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  background-color: #212121;
  margin-inline: auto;
  width: 40rem;
  height: 30rem;
  border-radius: .6rem;
  margin-top: 3rem;
}

.Sandbox .testArea h2 {
  text-align: center;
  padding: .25rem;
  font-size: 2rem;
}

.Sandbox .testArea .testButtonsContainer {
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[3];
      grid-template-columns: repeat(3, 10rem);
  grid-auto-rows: 3rem;
  grid-gap: 1.25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #FAFAFA;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding-block: .3rem;
  padding-inline: 1rem;
  background-color: #ff8c02;
  color: #FAFAFA;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
/*# sourceMappingURL=main.css.map */