:root {
  --colorSecondary: hsl(194, 100%, 50%);
  --colorText: #E3E3E3;
}

.Menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.Menu h1 {
  padding-block: 2rem 1rem;
  margin-inline: auto;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  color: #ff8000;
  font-size: 3rem;
}

.Menu .container {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  inline-size: clamp(25rem, 90vw, 40rem);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #151719;
  padding: 2rem;
  border-radius: .5rem;
}

.Main button {
  color: red;
}

.Main header {
  block-size: 4rem;
  -webkit-border-after: solid 0.063rem #7D7D7D;
          border-block-end: solid 0.063rem #7D7D7D;
}

.Main header img {
  max-inline-size: 4rem;
  max-block-size: 100%;
  padding: 1rem;
  padding-inline: 1rem;
  float: left;
  background-color: #141618;
}

.Main header img:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.Main header nav {
  display: none;
}

.Main header .menuIcon {
  float: right;
}

@media (min-Width: 30rem) {
  .Main header nav {
    display: block;
    block-size: 100%;
  }
  .Main header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    block-size: 100%;
  }
  .Main header nav ul li button {
    block-size: 100%;
    font-size: 1.5rem;
    background-color: #141618;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #E3E3E3;
  }
  .Main header nav ul li button:hover {
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
  }
  .Main header .menuIcon {
    display: none;
  }
}

.Main .RemConverter {
  inline-size: clamp(13rem, 80vW, 35rem);
  margin: 0 auto;
  text-align: center;
  color: #ff8000;
}

.Main .RemConverter h1 {
  padding-block: 3rem;
}

.Main .RemConverter .container .convertIcon {
  display: none;
}

.Main .RemConverter .container .converter {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  inline-size: clamp(10rem, 100%, 15rem);
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}

.Main .RemConverter .container .converter input {
  inline-size: 100%;
  block-size: 3rem;
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
  border-radius: .25rem;
  color: #E3E3E3;
  background-color: #171a1c;
  border: none;
  outline: none;
}

.Main .RemConverter .container .converter .inputType {
  font-size: 1rem;
  color: #E3E3E3;
  line-height: 3rem;
  position: absolute;
  inset-inline-end: 1rem;
  pointer-events: none;
}

@media (min-width: 48rem) {
  .Main .RemConverter .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .Main .RemConverter .container .convertIcon {
    display: block;
    line-height: 3rem;
    font-size: 1.5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.Sandbox {
  color: #E3E3E3;
  overflow: auto;
  min-height: 100vh;
}

.Sandbox h1 {
  text-align: center;
  font-size: 3rem;
  color: #ff8000;
  padding: 1.25rem;
}

.Sandbox .returnButton {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-start: 1rem;
  border-radius: 2rem;
  block-size: 3.5rem;
  inline-size: 5rem;
  padding: .5rem 1rem;
}

.Sandbox .counterContainer {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  background-color: #151719;
  margin-inline: auto;
  border-radius: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21rem;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.Sandbox .counterContainer .counterText {
  font-size: 1.5rem;
  font-weight: bold;
}

.Sandbox .counterContainer button {
  -webkit-margin-end: 1.25rem;
          margin-inline-end: 1.25rem;
  width: 7rem;
  border-radius: 25rem;
}

.Sandbox .testArea {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  background-color: #151719;
  margin-inline: auto;
  width: 40rem;
  min-height: 30rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: .6rem;
  margin-top: 3rem;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.Sandbox .testArea h2 {
  text-align: center;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  font-size: 2rem;
}

.Sandbox .testArea .testButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Sandbox .testArea .testButtonsContainer button {
  inline-size: 100%;
}

.Sandbox .testArea .outputContainer {
  padding-block: 2rem;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121416;
  color: #E3E3E3;
}

header {
  background-color: #141618;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  -webkit-box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.63rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.38rem 0.38rem rgba(0, 0, 0, 0.23);
  padding-block: .75rem;
  padding-inline: 1rem;
  background-color: #171a1c;
  color: #ff8000;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
/*# sourceMappingURL=main.css.map */