.returnButton {
	position: absolute;
	inset-inline-start: 1rem;
	inset-block-start: 1rem;
	border-radius: 2rem;
	
	inline-size: 5rem;
	block-size: 3.5rem;
	padding: .5rem 1rem;
}

.mainHeader {
	block-size: 4rem;
	border-block-end: solid .063rem $gray;
	display: flex;
	background-color: $colorHeader;
	
	img {
		block-size: 100%;
		padding: 1rem;
		background-color: $colorHeader;
		&:hover { filter: brightness(1.2); }
	}
	
	nav { display: none; }
	.menuIcon { margin-inline-start: auto; }
	
	@media (min-Width: $xs) {
		nav { @include verticalNavbar($colorHeader); }
		.menuIcon { display: none; }
	}
}
